
.classrooms {
    padding: 20px;
  }

  .classroom-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }

  .classroom-list li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }