.sidebar {
    width: 240px; /* Slightly wider for better content spacing */
    background: linear-gradient(45deg, #ffeb3b, #8bc34a);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for separation */
    height: 100vh; /* Full height sidebar */
    padding-top: 20px;
  }
  
  .logo img {
    width: 120px; /* Adjusted size for better visibility */
    margin-bottom: 30px; /* Increased margin for more spacing */
  }

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .sidebar ul li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-align: left; /* Align text to the left for better readability */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  }
  
  .sidebar ul li:hover {
    background-color: #03440c; /* Dark background on hover */
    color: white; /* Change text color on hover */
  }
  
  .sidebar ul li .sidebar-icon {
    margin-right: 15px; /* Space between icon and text */
    font-size: 1.2rem; /* Larger icon for better visibility */
  }
  
  .sidebar ul li span {
    font-size: 1rem; /* Adjust font size for readability */
  }